@font-face {
    font-family: ap1;
    src: url(font1.woff2);
}
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100vh;
    width: 100%;
    background-color: white;
    font-family: ap1;
    overflow-x: hidden;
}
#main{
    position: absolute;
    height: 100vh;
    width: 100%;
}
.menulayer{
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: black;
    z-index: 99999;
    color: white;
    left: -100%;
    
} 
.menulayer>ul{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    list-style: none;
}
.menulayer>ul>li{
    font-size: 4vw;
}
#first{
    position: relative;
    top: 0%;
    left: 0%;
    height: 100vh;
    width: 100%;
    background-color: white;
    color: white;
}
#first>.ri-menu-line{
    position: absolute;
    font-size: 2.5vw;
    top: 15%;
    right: 5%;
    z-index: 99999999;
    display: none;
    opacity: 1;
    position: fixed;
    cursor: pointer;

}
#first>.ri-close-fill{
    position: absolute;
    font-size: 2.5vw;
    top: 15%;
    right: 5%;
    z-index: 9999999;
    display: none;
    opacity: 0;
    position: fixed;
    cursor: pointer;

}

#first>#navbar{
    position: absolute;
    height: 11vh;
    /* position: fixed; */
    width: 100%;
    /* border-bottom:2px solid white; */
    z-index: 999;
    display: flex;
    justify-content: left;
    align-items: center;
    
}
#navbar>h4{
    color: white;
    font-weight: 100;
    padding-left: 30px;
}
#navbar>.navbar{
    position: absolute;
    height: 2%;
    bottom: 0%;
    width: 100%;
    background-color: rgb(202, 202, 202);
    transition: all 0.3s linear;
    /* opacity: 0.2; */
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    /* -webkit-backdrop-filter: blur(); */
}
.navbar>a{
    display: flex;
    justify-content: left;
    text-align: center;
    align-items: center;
    padding: 5px;
    padding-left: 30px;
    cursor: pointer;
    text-decoration: none;
    color: black;

}
.navbar>a{
    height: 100%;
    border-right: 1px solid white;
    width: 33.3%;

    
}

.navbar>a:nth-child(2)>a{
    color: white;
    font-weight: bold;
}


#navbar:hover>.navbar{
    height: 100%;
}

#first>.nav{
    position: absolute;
    height: 5vh;
    width: 100%;
    text-align: center;
    align-items: center;
    z-index: 999;
    position: fixed;
    top: 20%;
}
.nav>ul{
    display: flex;
    width: 35%;
    list-style: none;
    justify-content: space-around;
    position: absolute;
    right: 0%;
}
.nav>ul>a{
    padding-left: 20px;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    color: black;
}
.nav>ul>a:hover{
    text-decoration: underline;
}

#navbar>h4{
    color: black;
    font-weight: 100;
    padding-left: 30px;
}
#first>.text{
    position: absolute;
    height: 18vw;
    width: 47vw;
    /* border: 1px solid black; */
    color: black;
    top: 40%;
    left: 3%;
}
.text>h1{
    font-size: 3vw;
    font-weight: 100;
}
#first>.mail{
    position: absolute;
    width: 40vw;
    color: black;
    bottom: 5%;
    left: 3%;
}
.mail>h1{
    font-size: 3vw;
    font-weight: 100;
}
.mail>h1>span{
    text-decoration: underline;
    cursor: pointer;
}
#first>.img{
    position: absolute;
    height: 18vw;
    width: 18vw;
    /* border: 1px solid black; */
    bottom: 5%;
    right: 5%;
    overflow: hidden;
    position: fixed;
    z-index: 99;
}
.img>.mg1{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.img>.mg2{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 100%;
    object-fit: cover;
    object-position: center;
}
#first>.line{
    position: absolute;
    height: 1px;
    width: 90%;
    left: 5%;
    background-color: rgb(204, 204, 204);
    bottom: 0%;
    
}
#sec{
    position: relative;
    height: 140vh;
    width: 100%;
    background-color: white;
}
#sec>.text1{
    position: absolute;
    height: 19vw;
    width: 46vw;
    /* border: 1px solid black; */
    color: black;
    top: 15%;
    left: 3%;
}
.text1>h1{
    font-size: 3vw;
    font-weight: 100;
}
#sec>.line1{
    position: absolute;
    height: 1px;
    width: 90%;
    left: 5%;
    background-color: rgb(204, 204, 204);
    top: 60%;
    
}
#sec>.line2{
    position: absolute;
    height: 1px;
    width: 90%;
    left: 5%;
    background-color: rgb(204, 204, 204);
    bottom: 0%;
    
}
#sec>.contact{
    position: absolute;
    width: 40vw;
    color: black;
    bottom: 5%;
    left: 3%;
}
.contact>h1{
    font-size: 3vw;
    font-weight: 100;
}
.contact>h1>span{
    text-decoration: underline;
    cursor: pointer;
}
#third{
    position: relative;
    height: 180vh;
    width: 100%;
    background-color: white;
}
#third>.first{
    position: absolute;
    top: 10%;
    left: 5%;
    font-size: 1vw;
    font-weight: 500;
}
.first>ul{
    list-style: none;
}
#third>.sec{
    position: absolute;
    top: 10%;
    left: 65%;
    font-size: 1vw;
    font-weight: 500;
}
.sec>ul{
    list-style: none;
}
#third>.third{
    position: absolute;
    top: 10%;
    left: 35%;
    font-size: 1vw;
    font-weight: 500;
}
.third>ul{
    list-style: none;
}
#third>.line1{
    position: absolute;
    height: 1px;
    width: 90%;
    left: 5%;
    background-color: rgb(204, 204, 204);
    top: 30%;
    
}
#third>.fourth{
    position: absolute;
    top: 36%;
    left: 5%;
    font-size: 1vw;
    font-weight: 500;
}
.fourth>ul{
    list-style: none;
}
#third>.fifth{
    position: absolute;
    top: 36%;
    left: 65%;
    font-size: 1vw;
    font-weight: 500;
}
.fifth>ul{
    list-style: none;
}
#third>.sixth{
    position: absolute;
    top: 36%;
    left: 35%;
    font-size: 1vw;
    font-weight: 500;
}
.sixth>ul{
    list-style: none;
}
#third>.line2{
    position: absolute;
    height: 1px;
    width: 90%;
    left: 5%;
    background-color: rgb(204, 204, 204);
    top: 55%;
    
}
#third>.seven{
    position: absolute;
    top: 65%;
    left: 5%;
    font-size: 1vw;
    font-weight: 500;
}
.seven>ul{
    list-style: none;
}

#third>.eight{
    position: absolute;
    top: 65%;
    left: 35%;
    width: 15vw;
    height: 20vw;
    font-size: 1vw;
    font-weight: 100;
}
#third>.nine{
    position: absolute;
    top: 65%;
    left: 65%;

}
#third>.line3{
    position: absolute;
    height: 1px;
    width: 90%;
    left: 5%;
    background-color: rgb(204, 204, 204);
    top: 77%;
    
}
#third>.ten{
    position: absolute;
    height: 8vw;
    bottom: 5%;
    left: 5%;
    width: 30vw;
}
.ten>h1{
    font-size: 3vw;
    font-weight: bold;
    
}
.ten>h1>span{
    text-decoration: underline;
}









































@media(max-width:500px){

    #main{
        position: absolute;
        height: 100vh;
        width: 100%;
    }
    .menulayer{
        position: absolute;
        height: 100vh;
        width: 100%;
        background-color: black;
        z-index: 99999;
        color: white;
        left: -100%;
        
    } 
    .menulayer>ul{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        list-style: none;
    }
    .menulayer>ul>a{
        text-decoration: none;
        color: white;
        font-size: 11vw;
    }
    #first{
        position: relative;
        top: 0%;
        left: 0%;
        height: 90vh;
        width: 100%;
        background-color: white;
        color: white;
    }
    #first>.ri-menu-line{
        position: absolute;
        font-size: 4vw;
        top: 5%;
        right: 10%;
        z-index: 99999999;
        display: block;
        opacity: 1;
        position: fixed;
        cursor: pointer;
        color: black;
    
    }
    #first>.ri-close-fill{
        position: absolute;
        font-size: 4vw;
        top: 5%;
        right: 10%;
        z-index: 9999999;
        display: block;
        opacity: 0;
        position: fixed;
        cursor: pointer;
        color: white;
    
    }
    
    #first>#navbar{
        position: absolute;
        height: 11vh;
        /* position: fixed; */
        width: 100%;
        /* border-bottom:2px solid white; */
        z-index: 999;
        display: flex;
        justify-content: left;
        align-items: center;
        display: none;
    }
    #navbar>h4{
        color: white;
        font-weight: 100;
        padding-left: 30px;
    }
    #navbar>.navbar{
        position: absolute;
        height: 2%;
        bottom: 0%;
        width: 100%;
        background-color: rgb(202, 202, 202);
        transition: all 0.3s linear;
        /* opacity: 0.2; */
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        /* -webkit-backdrop-filter: blur(); */
    }
    .navbar>a{
        display: flex;
        justify-content: left;
        text-align: center;
        align-items: center;
        padding: 5px;
        padding-left: 30px;
        cursor: pointer;
        text-decoration: none;
        color: black;
    
    }
    .navbar>a{
        height: 100%;
        border-right: 1px solid white;
        width: 33.3%;
    
        
    }
    
    .navbar>a:nth-child(2)>a{
        color: white;
        font-weight: bold;
    }
    .navbar>a:nth-child(2){
        background-color: black;
        color: white;
    }
    
    #navbar:hover>.navbar{
        height: 100%;
    }
    
    #first>.nav{
        position: absolute;
        height: 5vh;
        width: 100%;
        text-align: center;
        align-items: center;
        z-index: 999;
        position: fixed;
        top: 20%;
        display: none;

    }
    .nav>ul{
        display: flex;
        width: 35%;
        list-style: none;
        justify-content: space-around;
        position: absolute;
        right: 0%;
    }
    .nav>ul>a{
        padding-left: 20px;
        font-size: 15px;
        cursor: pointer;
        text-decoration: none;
        font-weight: bold;
        color: black;
    }
    .nav>ul>a:hover{
        text-decoration: underline;
    }
    
    #navbar>h4{
        color: black;
        font-weight: 100;
        padding-left: 30px;
    }
    #first>.text{
        position: absolute;
        height: 18vw;
        width: 77vw;
        /* border: 1px solid black; */
        color: black;
        top: 50%;
        left: 10%;
    }
    .text>h1{
        font-size: 6vw;
        font-weight: 100;
    }
    #first>.mail{
        position: absolute;
        width: 80vw;
        color: black;
        bottom: 5%;
        left: 10%;
    }
    .mail>h1{
        font-size: 6vw;
        font-weight: 100;
    }
    .mail>h1>span{
        text-decoration: underline;
        cursor: pointer;
    }
    #first>.img{
        position: absolute;
        height: 18vw;
        width: 18vw;
        /* border: 1px solid black; */
        bottom: 5%;
        right: 5%;
        overflow: hidden;
        position: fixed;
        z-index: 99;
        display: none;
    }
    .img>.mg1{
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
    .img>.mg2{
        position: absolute;
        height: 100%;
        width: 100%;
        top: 100%;
        object-fit: cover;
        object-position: center;
    }
    #first>.line{
        position: absolute;
        height: 1px;
        width: 90%;
        left: 5%;
        background-color: rgb(204, 204, 204);
        bottom: 0%;
        
    }
    #sec{
        position: relative;
        height: 90vh;
        width: 100%;
        background-color: white;
    }
    #sec>.text1{
        position: absolute;
        height: 19vw;
        width: 80vw;
        /* border: 1px solid black; */
        color: black;
        top: 15%;
        left: 10%;
    }
    .text1>h1{
        font-size: 6vw;
        font-weight: 100;
    }
    #sec>.line1{
        position: absolute;
        height: 1px;
        width: 90%;
        left: 5%;
        background-color: rgb(204, 204, 204);
        top: 60%;
        
    }
    #sec>.line2{
        position: absolute;
        height: 1px;
        width: 90%;
        left: 5%;
        background-color: rgb(204, 204, 204);
        bottom: 0%;
        
    }
    #sec>.contact{
        position: absolute;
        width: 80vw;
        color: black;
        bottom: 5%;
        left: 10%;
    }
    .contact>h1{
        font-size: 6vw;
        font-weight: 100;
    }
    .contact>h1>span{
        text-decoration: underline;
        cursor: pointer;
    }
    #third{
        position: relative;
        height: 250vh;
        width: 100%;
        background-color: white;
    }
    #third>.first{
        position: absolute;
        top: 5%;
        left: 10%;
        font-size: 4vw;
        font-weight: 500;
    }
    .first>ul{
        list-style: none;
    }
    #third>.sec{
        position: absolute;
        top: 19%;
        left: 10%;
        font-size: 4vw;
        font-weight: 500;
    }
    .sec>ul{
        list-style: none;
    }
    #third>.third{
        position: absolute;
        top: 5%;
        left: 63%;
        font-size: 4vw;
        font-weight: 500;
    }
    .third>ul{
        list-style: none;
    }
    #third>.line1{
        position: absolute;
        height: 1px;
        width: 90%;
        left: 5%;
        background-color: rgb(204, 204, 204);
        top: 35%;
        
    }
    #third>.fourth{
        position: absolute;
        top: 36%;
        left: 10%;
        font-size: 4vw;
        font-weight: 500;
    }
    .fourth>ul{
        list-style: none;
    }
    #third>.fifth{
        position: absolute;
        top: 46.5%;
        left: 10%;
        font-size: 4vw;
        font-weight: 500;
    }
    .fifth>ul{
        list-style: none;
    }
    #third>.sixth{
        position: absolute;
        top: 36%;
        left: 60%;
        font-size: 4vw;
        font-weight: 500;
    }
    .sixth>ul{
        list-style: none;
    }
    #third>.line2{
        position: absolute;
        height: 1px;
        width: 90%;
        left: 5%;
        background-color: rgb(204, 204, 204);
        top: 60%;
        
    }
    #third>.seven{
        position: absolute;
        top: 63%;
        left: 10%;
        font-size: 3.5vw;
        font-weight: 500;
    }
    .seven>ul{
        list-style: none;
    }
    
    #third>.eight{
        position: absolute;
        top: 68%;
        left: 10%;
        width: 40vw;
        height: 20vw;
        font-size: 3.5vw;
        font-weight: 100;
    }
    #third>.nine{
        position: absolute;
        top: 66%;
        left: 70%;
        font-size: 3vw;
    
    }
    #third>.line3{
        position: absolute;
        height: 1px;
        width: 90%;
        left: 5%;
        background-color: rgb(204, 204, 204);
        top: 79%;
        
    }
    #third>.ten{
        position: absolute;
        height: 8vw;
        bottom: 10%;
        left: 5%;
        width: 45vw;
    }
    .ten>h1{
        font-size: 8vw;
        font-weight: bold;
        
    }
    .ten>h1>span{
        text-decoration: underline;
    }
}